.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar .nav > li > a.register.registered, .navbar .nav > li > a.unregister {
    display: none;
}

.navbar .nav > li > a.register, .navbar .nav > li > a.unregister.registered {
    display: block;
}

.hidden {
    display: none;
}

.navbar .nav > li > a.register {
    color: #5cb85c;
}

.navbar .nav > li > a.unregister {
    color: #d9534f;
}

.form-inline .timepicker input {
    width: 100%;
}

.multiSelect .button {
    min-height: 34px !important;
}

span.bold {
    font-weight: bold;
}

#bracket {    
    overflow-x: auto;
    white-space: nowrap;    
}

.team {
    float: left !important;
    
}

.team-delimiter {
    width: 1px;
    height: 5px;
}


.winner {
    background: green;
}

.round1 {
    display: inline-block;    
    vertical-align: middle;    
    float: none;    
}

.round2 {
    display: inline-block;    
    vertical-align: middle;    
    float: none;        
}

.round3 {
    display: inline-block;    
    vertical-align: middle;    
    float: none;    
}

.match {
    float: left;
}

.round1 > div.match {
    height: 73px;    
}

.round2 > div.match {
    height: 73px;    
}

.round3 > div.match {
    height: 73px;    
}

.round1 > div.match-delimiter {
    width: 1px;
    height: 25px;
}

.round2 > div.match-delimiter {
    width: 1px;
    height: 16px;
}

.round3 > div.match-delimiter {
    width: 1px;
    height: 25px;
}

.round4 > div.match-delimiter {
    
}