body {
    margin: 0;
    background: url('~/../../../Images/main-background.jpg') !important;
    background-size: 1920px 1280px;
    background-repeat:no-repeat;
    display:compact;    
    color: #eee;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

h4 {
    color: #ddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;    
}

.breadcrumb {
  padding: 8px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li a {
    color: #E76321;
}

.breadcrumb > li a:hover {
    color: #c54118;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #777;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #aaa;
}

.btn-primary {
    color: #eee;
    background: #F87431;
    border-color: #F87431;    
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #eee;
  background-color: #F87431;
  border-color: #F87431;
}

.btn-primary:hover {
    color: #F87431;
    background: #eee;    
    border-color: #eee;
}

.btn-table {    
    padding: 0 10px 0 10px !important;    
}

.page-header {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    border-color:#F87431;        
}

.active {
    color: #F87431;
}

.hidden {
    display: none;
}

.form-inline .timepicker input {
    width: 100%;
}

.multiSelect .button {
    min-height: 34px !important;
}

span.bold {
    font-weight: bold;
}

.panel-body {
    color: #333;
}

.table-controls {    
    margin-bottom: 10px;
}

