
.bracket {    
    overflow-x: auto;
    white-space: nowrap;    
}

.team {
    float: left !important;    
}

.team-name {
    min-width: 128px;
}

.team-delimiter {
    width: 1px;
    height: 5px;
    float: left;
}

.winner {
    background: green;
}

.round-box {
    display: inline-block;        
    float: none; 
    min-width: 275px;    
}

.round-header {
    display: inline-block;        
    float: none; 
    min-width: 275px;                    
}

.round1 {
    display: inline-block;    
    vertical-align: middle;    
    float: none;    
}

.round2 {
    display: inline-block;    
    vertical-align: middle;    
    float: none;       
}

.round3 {
    display: inline-block;    
    vertical-align: middle;    
    float: none;        
}

.round4 {
    display: inline-block;    
    vertical-align: middle;    
    float: none    
}

.match {    
    height: 73px;   
    width: 100%;
    position:relative; 
}

.match > a {
    display:none;
}

.match:hover > a {
    display:block;
}

.round1 .match-delimiter {
    width: 1px;
    height: 25px;
}

.round2 div.match-delimiter {
    width: 1px;
    height: 123px;
}

.round3 div.match-delimiter {
    width: 1px;
    height: 317px;
}

.score-box-input {
    display: inline-block;    
    padding: 2px 6px !important;
    margin: 0px !important;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;    
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-align:center;     
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;    
    height:18px; 
    width: 21px !important;
}