<div id="{{'round'+roundIndex + '_team' + team.id}}" class="team">    
    <div ng-hide="editState" class="input-group">
        <div class="form-control team-name" ng-bind="team.TeamName"></div>
        <span class="input-group-addon cols-xs-4" ng-repeat="score in scores">
            <span class="badge pull-right winner">{{ index === '1' ? score.ScoreTeam1 : score.ScoreTeam2 }}</span>
        </span>
    </div>       
    <div ng-show="editState" class="input-group">
        <div class="form-control team-name" ng-bind="team.TeamName"></div>
        <span class="input-group-addon" ng-repeat="score in scores">
            <input class="form-control pull-right score-box-input" ng-if="index === '1'" ng-model="score.scoreTeam1" type="number" min="0" max="8" />
            <input class="form-control pull-right score-box-input" ng-if="index === '2'" ng-model="score.scoreTeam2" type="number" min="0" max="8" />
        </span>
    </div>    
</div>