<div ng-class="{hidden: !registered}" ng-controller="NewMatchController">
    <span>Create a match to enjoy time with your friends.</span>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <form ng-submit="submit()" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="" ng-model="date" min-date="minDate" is-open="opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group timepicker">
            <timepicker ng-model="time"></timepicker>
        </div>
        <div class="form-group">
            <div multi-select input-model="users" output-model="selectedUsers" button-label="Name" item-label="FirstName LastName" tick-property="ticked" max-labels="2" default-label="Invite players" />
        </div>
        <button type="submit" name="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    </form>
</div>
