<div class="row">
    <div ng-class="{hidden: !registered}">
        <span>Create a match to enjoy time with your friends.</span>
        <form ng-submit="submit()" class="form-inline">
            <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" datepicker-popup="" ng-model="date" min-date="minDate" is-open="opened" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
            <div class="form-group timepicker">
                <timepicker ng-model="time"></timepicker>
            </div>
            <input type="submit" name="submit" class="btn btn-primary" />
        </form>
    </div>
    <table ng-table="tableParams" class="table table-striped">
        <tr ng-repeat="match in $data">
            <td data-title="'Planovany cas'" sortable="'PlannedTime'">{{match.PlannedTime}}</td>
            <td data-title="'Vytvoril'" sortable="'Creator.Name'">{{match.Creator.Name}}</td>
            <td data-title="'Team1'">
                {{match.Team1.Member1.Name}}
                {{match.Team1.Member2.Name}}            
                <a ng-click="toggleParticipation(match.Id, match.Team1.Id)" ng-class="{ hidden: !forJoin( match, match.Team1 ) }"><i class="glyphicon glyphicon-plus"></i></a>
                <a ng-click="toggleParticipation(match.Id, match.Team1.Id)" ng-class="{ hidden: !forLeave( match, match.Team1 ) }"><i class="glyphicon glyphicon-minus"></i></a>            
            </td>
            <td data-title="'Team2'" >
                {{match.Team2.Member1.Name}}
                {{match.Team2.Member2.Name}}
                <a ng-click="toggleParticipation(match.Id, match.Team2.Id)" ng-class="{ hidden: !forJoin(match, match.Team2) }"><i class="glyphicon glyphicon-plus"></i></a>
                <a ng-click="toggleParticipation(match.Id, match.Team2.Id)" ng-class="{ hidden: !forLeave(match, match.Team2) }"><i class="glyphicon glyphicon-minus"></i></a>            
            </td>                        
        </tr>
    </table>
</div>
