<div class="match">
    <div class="team">
        <div class="input-group">
            <div class="form-control">
                {{match.team1.name}}
            </div>
            <span class="input-group-addon" ng-repeat="set in match.sets">
                <span class="badge pull-right winner">{{set.scoreTeam1 }}</span>
            </span>
        </div>
    </div>
    <div class="team-delimiter pull-left"></div>
    <div class="team">
        <div class="input-group">
            <div class="form-control">
                {{match.team2.name}}
            </div>
            <span class="input-group-addon" ng-repeat="set in match.sets">
                <span class="badge pull-right winner">{{ set.scoreTeam2 }}</span>
            </span>
        </div>
    </div>
</div>