<div id="{{'round'+roundIndex + '_team' + team.id}}" class="team">
    <div ng-hide="editState">
        <div class="input-group">
            <div class="form-control team-name">
                {{team.name}}
            </div>
            <span class="input-group-addon" ng-repeat="score in scores">
                <span class="badge pull-right winner">{{ index === '1' ? score.scoreTeam1 : score.scoreTeam2 }}</span>
            </span>
        </div>
    </div>
    <div class="form-inline" ng-show="editState">
        <div class="input-group">
            <div class="form-control team-name">
                {{team.name}}
            </div>            
            <span class="input-group-addon score-box" ng-repeat="score in scores">
                <input class="form-control pull-right score-box-input" ng-if="index === '1'" ng-model="score.scoreTeam1" type="number" min="0" max="8" />
                <input class="form-control pull-right score-box-input" ng-if="index === '2'" ng-model="score.scoreTeam2" type="number" min="0" max="8"/>
            </span>            
        </div>
    </div>
</div>