<!DOCTYPE html>
<html ng-app="footballApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Table football league</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ng-table.css" rel="stylesheet" />
    <link href="~/Content/angular-multi-select.css" rel="stylesheet" />
    <link href="~/Content/xeditable.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="~/Content/tournamentBracket.css" rel="stylesheet" />
</head>
<body>             
    <ng-include src="'/app/partials/navbar-login.html'"></ng-include>
    <div class="container">        
        <div ui-view></div>
    </div>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ng-table.js"></script>
    <script src="~/Scripts/xeditable.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-multi-select.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-breadcrumb.min.js"></script>
    <script src="~/Scripts/jqSimpleConnect-1.0.min.js"></script>
    <script src="~/app/tournament/model.js"></script>    
    <script src="~/app/app.js"></script>
    <script src="~/app/main/router.js"></script>
    <script src="~/app/main/flNavbar.js"></script>
    <script src="~/app/identity.js"></script>
    <script src="~/app/match/matches.js"></script>
    <script src="~/app/match/newMatch.js"></script>
    <script src="~/app/user/user.js"></script>
    <script src="~/app/tournament/flTournamentsCtrl.js"></script>
    <script src="~/app/tournament/flTournamentDetailCtrl.js"></script>
    <script src="~/app/tournament/flTournamentJoinCtrl.js"></script>
    <script src="~/app/tournament/flTournamentCreateCtrl.js"></script>
</body>
</html>


